<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
           id="com.rjfun.cordova.plugin.paypalmpl"
      version="1.0.0">
      
    <name>PayPalMPL</name>
	<description>Add PayPal support with MPL SDK (Mobile Payment Library, not new SDK) to your cordova apps or games</description>
	<author>Liming Xie</author>
	<license>MIT</license>
	<keywords>paypal,payment,purchase,pay,buy</keywords>
    <repo>https://github.com/floatinghotpot/cordova-plugin-paypalmpl.git</repo>
    <issue>https://github.com/floatinghotpot/cordova-plugin-paypalmpl/issues</issue>

	<engines>
	    <engine name="cordova" version=">=3.0" />
	</engines>
	
    <js-module src="www/PayPalMPL.js" name="PayPalMPL">
        <clobbers target="window.plugins.PayPalMPL" />
    </js-module>

    <!-- android -->
    <platform name="android">
<dependency id="com.paypal.mpl-android" version=">=1.5.5"/>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PayPalMPL">
                <param name="android-package" value="com.rjfun.cordova.plugin.PayPalMPL"/>
            </feature>
        </config-file>
        <source-file src="src/android/PayPalMPL.java" target-dir="src/com/rjfun/cordova/plugin" />
        <source-file src="src/android/PayPalMPLResultDelegate.java" target-dir="src/com/rjfun/cordova/plugin" />
        
     </platform>
     
     <!-- ios -->
     <platform name="ios">    
<dependency id="com.paypal.mpl-ios" version=">=2.0.1"/>
         <config-file target="config.xml" parent="/*">
             <feature name="PayPalMPL">
                 <param name="ios-package" value="CDVPayPalMPL" />
             </feature>
         </config-file>
         
         <header-file src="src/ios/CDVPayPalMPL.h" />
         <source-file src="src/ios/CDVPayPalMPL.m" />

	</platform>
          
</plugin>
