<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
           id="com.rjfun.cordova.plugin.paypalmpl"
      version="1.0">
      
    <name>PayPalMPL</name>
	<description>Add PayPal support with MPL SDK (not new SDK)</description>
	<author>Liming Xie</author>
	<license>MIT</license>
	<engines>
	    <engine name="cordova" version=">=3.0" />
	</engines>
	
    <js-module src="www/PayPalMPL.js" name="PayPalMPL">
        <clobbers target="window.plugins.PayPalMPL" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PayPalMPL">
                <param name="android-package" value="com.rjfun.cordova.plugin.PayPalMPL"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:configChanges="keyboardHidden|orientation" 
                android:name="com.paypal.android.MEP.PayPalActivity" 
                android:theme="@android:style/Theme.Translucent.NoTitleBar" />
          </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET"/>
			<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
          </config-file>
          
        <source-file src="src/android/PayPalMPL.java" target-dir="src/com/rjfun/cordova/plugin" />
        <source-file src="src/android/PayPalMPLResultDelegate.java" target-dir="src/com/rjfun/cordova/plugin" />
		<source-file src="src/android/PayPal_MPL.jar" target-dir="libs" />
        
     </platform>
     
     <!-- ios -->
     <platform name="ios">    
         <config-file target="config.xml" parent="/*">
             <feature name="PayPalMPL">
                 <param name="ios-package" value="CDVPayPalMPL" />
             </feature>
         </config-file>
         
         <header-file src="src/ios/CDVPayPalMPL.h" />
         <source-file src="src/ios/CDVPayPalMPL.m" />

         <header-file src="src/ios/PayPal.h" />
         <header-file src="src/ios/PayPalAddress.h" />
         <header-file src="src/ios/PayPalAdvancedPayment.h" />
         <header-file src="src/ios/PayPalAmounts.h" />
         <header-file src="src/ios/PayPalInvoiceData.h" />
         <header-file src="src/ios/PayPalInvoiceItem.h" />
         <header-file src="src/ios/PayPalPayment.h" />
         <header-file src="src/ios/PayPalPreapprovalDetails.h" />
         <header-file src="src/ios/PayPalReceiverAmounts.h" />
         <header-file src="src/ios/PayPalReceiverPaymentDetails.h" />
         <source-file src="src/ios/libPayPalMPL.a" framework="true" />

 	     <framework src="Security.framework" />
 	     <framework src="libxml2.dylib" />
         <framework src="libz.1.2.5.dylib" />
	</platform>
          
</plugin>
